<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div style="margin: 1em">
        Reload the following modified files:
        <p>
            <span id="files-list" wicket:id="modifiedfiles"></span>
        </p>
    </div>
    <div style="text-align: center;">
        <span class="okbutton" wicket:id="dbreloadokbutton">Reload all</span>
        <span class="okbutton" wicket:id="dbreloadcancelbutton">Cancel</span>
    </div>
</wicket:panel>