<?xml version="1.0" encoding="UTF-8" ?>
<style>

</style>

<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div style="margin: 5px;">
        <div>Command execution log:</div>
        <textarea readonly="readonly" rows="40" cols="80" class="terminal" id="outputarea"
            style="resize: none; width: 98%; height: 90%; box-sizing: border-box;">
        </textarea>
        <div style="text-align: center;">
            <span class="okbutton" wicket:id="startpartitionbutton"
                    title="start partition infrastrcuture by running setup_daq">Start partition</span>
            <span class="okbutton" wicket:id="killpartitionbutton"
                    title="shutdown partition infrastrcuture, followed by pmg clean up">Terminate partition</span>
            <span class="okbutton" wicket:id="cancelbutton">Close</span>
        </div>
    </div>

</wicket:panel>