@font-face {
	font-family: 'Open Sans Condensed';
	src: url('fonts/OpenSansCondensed-Light.ttf'); 
  }

.beammode, .machinemode, .stablebeam, .atlasdcs, .ready4physics {
	font-weight: bold ;
}

body, p, li, a { font-family: Tahoma, Geneva, sans-serif; font-size:10pt;}
//h1, h2, h3 { font-family: 'Yanone Kaffeesatz', arial, serif; }

h1, h2, h3 { font-family: 'Open Sans', sans-serif; }

h2 {
	padding : 0; margin:0;
	font-size:36pt;
	color:#FF5500;
}

h3 {
	padding : 0; margin:0;
	font-size: 12pt;
	color:#092E67;
}

#outputarea {
	min-width: 60em;
}

body { margin:0;padding:0;}
a, a:visited, a:hover, a:active {
	//color : #6493D2;
	text-decoration: none;
}
#hd {
	width : 100%;
	height : 62px;
	background-color : #092E67;
	margin-top : 0;
//	padding-top : 10px;
	border-bottom : 1px solid #888;
	z-index : 0;
}
#ft {
	position : absolute;
	bottom : 0;
	width : 100%;
	height : 40px;
	background-color : #6493D2;
	border-top : 1px solid #888;
	z-index : 0;
}
#logo {
	display: flex;
	align-items: center;
}

#logo,#bd {
//	margin: 0 auto;
//	padding: 25px 10px 0 0;
}

#logo h1 {
	color : white;
	font-size:18pt;
	display: inline;
}

body.waiting * {
    cursor: progress;
}

#apptitle {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: white;
//	text-shadow: 2px 2px 2px #999;
}

.logoatlas {
	background: url("ATLAS-Logo-White-transparent.png") no-repeat;
	display:inline;
	vertical-align: bottom;
	margin-left : 15px;
	margin-right : 10px;
	height: 40px;
	background-size: contain;
	width: 100px;
	transition:all 0.5s;
}

.logoatlas:hover {
	background: url("ATLAS-det.png") no-repeat;
	display:inline;
	vertical-align: bottom;
	margin-left : 15px;
	margin-right : 10px;
	height: 40px;
	background-size: contain;
	width: 100px;
}

.apptitleeff {
	display: inline-block ;
	transition:all 0.8s;
}

.apptitleeff:hover {
	transform: scale(1,-1) ;
	text-shadow: 	0 0 5px #03e9f4,
					0 0 25px #03e9f4,
					0 0 50px #03e9f4,
					0 0 100px #03e9f4;
}

#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 15px;
	margin-right : 10px;
}

[hidden="true"] {
	visibility: hidden;
}

[hidden="false"] {
	visibility: visible;
}

[tooltip]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[tooltip]:after {
    content: attr(tooltip);
    background-color: #00FF00;
    color: #111;
    font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[tooltip] {
    position: relative;
}

#partitions, option {
	margin-left: 25px;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 10pt ;
}

#databases  {
	margin-right: 25px;
}

#logoutbutton {
	background: beige;
	border-radius: 4px;
	padding: 3px;
	margin-left: 10px;
}

#startpartitionbutton {
	background: green;
	border-radius: 4px;
	padding: 3px;
	margin-left: 10px;
}

#modelabel {
margin-left: 10px;
font-weight: bold;
}
#modelabel[mode="control"] {
	color: #FF5500;
}
#modelabel[mode="display"] {
	color: green;
}

body { margin-top : 0; padding-top : 0;}
// #logo, #logo h1 { margin-top : 0; padding-top : 0;}
#bd {
	position : absolute;
	top : 55px;
	bottom : 30px;
	right: 10px;
	left: 0px;
	margin-left : 10px;
	padding-left: 5px;
	height: auto;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}

.split {
	display: flex;
	height: 100%;
}
  
.split > :nth-child(1) {
	overflow: auto;
}

.split > :nth-child(2) {
	flex-grow: 1;
}

.split.vertical {
	flex-direction: column;
}

.split.vertical > :nth-child(1) {
	resize: vertical;
}

.ers-INFO  {
	color: white ;
	background-color: lightsteelblue;
}
.ers-WARNING {
	color: black;
	background-color: orange;
}
.ers-ERROR {
	color: white ;
	background-color: red;
}
.ers-FATAL {
	color: white ;
	background-color: #cc3300;
}
th { 
//	display: none ;
}

[header-hidden="true"] th {
	display: none ;
}

.dataview th {
	border:solid 1px yellowgreen ;
}

.dataview tbody td:nth-child(1){
	min-width:max-content;
}

td.ers-id {
	font-weight: bolder;
	font-size: smaller;
}
td.ers-application {
	color: darkblue;
}
td.ers-severity {
	text-align: center;
	padding: 5px;
}
td.ers-message {
	background-color: aliceblue;
	font-size: smaller;
}
.ers-subscr {
	float: left ;
	margin-left: 8px;
}
.ersclearbutton {
	background: gray;
    color: white;
    padding: 5px;
    box-shadow: 0px 0px 10px #888;
	border-radius: 10px;
	text-align: center;
	float:left ;
	margin-left: 8px;
}
.ersclearbutton[flashing="TRUE"] {
	color: #cc3300;
	animation: blinker 2s linear infinite;
}
.bodytop {
//	position: absolute;
	padding-top: 6px;
	padding-left: 5px;
//	overflow: auto;
	padding-right: 10px;
//	top: 0;
	height: 60%;
//	width: max-content ;
	display: flex ;
}

.rccommandpanel {
    background-color: azure;
    //padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: 0px 0px 10px #888;
	height: min-content;
	position: relative ;
}
.rccommandtitle {
    font-weight: bolder;
    color: salmon;
}
.rccommandbutton {
	margin-top: 6px;
	margin-bottom: 12px;
    background: gray;
    color: white;
    padding: 5px;
    box-shadow: 0px 0px 10px #888;
	border-radius: 10px;
	text-align: center;
	min-width: 110px;
	min-height: 20px;
	display: block;
}
.rccommandbutton[enabled="FALSE"] {
    display: none ;
}

#reloadbutton {
	animation: blinker 1.5s linear infinite;
	color: darkred ;
	font-weight: bolder;
}
  
@keyframes blinker {  
	50% { opacity: 0; }
}

.okbutton {
	margin-top: 6px;
    background: gray;
    color: white;
    padding: 5px;
    box-shadow: 0px 0px 10px #888;
	border-radius: 10px;
	text-align: center;
	min-width: 110px;
	min-height: 20px;
	display: inline-block;
	align-items: center;
}

.rctreepanel{
	height: 97%;
	//flex: 1;
	width: 45%;
	min-width: 350px;
	overflow-y: auto;
	resize: horizontal;
}

.rctree {
	margin-right: 7px;
	//width: max-content;
	width:94%;
	height: max-content;
	overflow: visible;
	padding-left: 10px;
}

span.tree-content {
	border-radius: 10px;
	border-color: transparent ;
	border-width: 1px;
	border-style: solid;
	box-shadow: 0px 2px 3px #888;
	padding: 2px;
	padding-left: 8px;
}
.tree-theme-windows span.tree-content a {
	color:inherit;
	text-decoration:none ;
}
.rc-controller {
	color:inherit ;
	text-decoration:none ;
	cursor: pointer;
}
.rc-application {
	color:inherit ;
	text-decoration:none ;
	cursor: pointer;
}

span.tree-label{
	padding: 1px;
}

.roibbusy {
	color: orange; float: right; margin-right:7px;
}

.farmavailability {
	color: turquoise;
	float: right; margin-right:7px;
}

.sfooccupancy {
	color: turquoise;
	float: right; margin-right:7px;
}
.erspanel {
	overflow: auto;
	padding-top: 10px;
	height: 40%;
	max-height: 80%;
}

.datatable {
	width: 99% ;
}

.segment[enabled="FALSE"] {
	background-color: grey ;
	color: white ;
}

.segment[enabled="FALSE"]:before {
	content: "[DISABLED] " ;
}

.segment[committed="FALSE"]:before {
	font-weight: bolder;
	border-radius: 10px;
}

.segment[enabled="TRUE"][committed="FALSE"]:before {
	content: "\231A DISABLED" ;
	margin-right: 5px;
	background-color:red ;
	animation: blinker 1.5s linear infinite;
}

.segment[enabled="FALSE"][committed="FALSE"]:before {
	content: "\231A ENABLED" ;
	margin-right: 5px;
	background-color: green ;
	animation: blinker 1.5s linear infinite;
}

.tree-node {
	padding-top: 3px;
	padding-bottom: 3px;
}
	
.tree-content[rc-controller=ABSENT] {
	background-color:#AAAAAA;
	color: black ;
}
.tree-content[rc-application=ABSENT] {
	background-color:#AAAAAA;
	color: black ;
}
.tree-content[rc-application=REQUESTED] {
	background-color: whitesmoke;
	color: green ;
	border: dashed 1px darkgreen;
}
.tree-content[rc-application=UP] {
	background-color: green;
	color: white ;
}
.tree-content[rc-controller=NONE] {
	background-color:#DDDDDD;
	color: black ;
}
.tree-content[rc-controller=INITIAL] {
	background-color: paleturquoise;
	color: black ;
}
.tree-content[rc-controller=CONFIGURED] {
	background-color: yellow; 
	color: darkgreen ;
	border: dashed 1px darkgreen;
}
.tree-content[rc-controller=CONNECTED] {
	background-color: #FFCC33;
	color:darkgreen ;
}
.tree-content[rc-controller$=STOPPED] {
	background-color: #FFCC33;
	color:darkgreen ;
	border: dashed 1px darkgreen;
}
.tree-content[rc-controller=RUNNING] {
	background-color:green;
	color: white ;
}
.tree-content.rc-controller.OUT {
	background-color: #CCCCCC;
	color: grey ;
}
.tree-content.rc-application.OUT {
	background-color: #CCCCCC;
	color: grey ;
}
.tree-content.rc-controller.FAULT {
	border-color: red;
	border-width: 1px;
	border-style: double;
	color: red ;
}
.tree-content.rc-controller.FAULT:before {
  content: "\26A0";
	margin-right: 3px;
	margin-left: 8px;
}
.tree-content.rc-controller.BUSY {
	border: dashed 1px salmon;
}
.tree-content.rc-controller.BUSY:before {
	content: "\231B";
	margin-right: 3px;
	margin-left: 8px;
}
.tree-content.rc-controller.FAULT.OUT {
	color: lightcoral ;
	border-color:lightcoral ;
}
.tree-content[rc-application^=EXITED] {
	background-color: #AAAAAA ;
	color: black ;
}
.tree-content[rc-application^=DIED] {
	background-color: #666666;
	color: lightpink ;
}
.tree-content.rc-controller.FAULT.selected, .tree-content.rc-controller.selected {
	border: solid 2px blue;
	padding-top: 1px;
	padding-bottom: 1px;
}
.tree-content.rc-application.selected {
	border: solid 2px blue;
	padding-top: 1px;
	padding-bottom: 1px;
}

.ctpbusy {
	color: orange;float: right; margin-right:7px;
}

.subdetbusy {
	color: orange;float: right; margin-right:7px;
}

.subdetbusyrun {
	background: orange;
	color: orange;
	float: right;
	margin-right: 5px;
	max-width: 20%;
}

.ctpbusy-onhold {
	color: red; font-weight:bolder; float: right; margin-right:7px;
	animation: blinker 2s linear infinite;
}

td .navigatorLabel {
	display: inline-block ;
}

td .navigator {
	display: inline-block ;
	margin-left: 10px ;
}

.runinfo {
	margin-left: 5px;
	margin-right: 10px;
	color:darkcyan; font-weight: bold;
}

.runinfo[recording="OFF"] {
	color: orangered;
}
.runinfo[recording="ON"] {
	color:green;
}
span.inline-edit { border: 1px solid green; padding: 4px; }
span.inline-edit input { border:0; margin:0; padding:0; width: max-content; }
/* width: max-content; */

.tabbar .tabbar-item {padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.tabbar .dropdown-hover, .tabbar .dropdown-click {position:static;float:left}
.tabbar {width:100%;overflow:hidden;margin-bottom:10px;}
.tabbar .tabbutton {white-space:normal}

.tabbutton {border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.tabbutton:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.tabbutton:hover{color:#000!important;background-color:#ccc!important}


.center .tabbar{display:inline-block;width:auto}

.tabbar-block .tabbar-item {width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}

