body {
    background-image: url('ACR/ACR5s.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }

#loginform {
    font-family: 'Open Sans', sans-serif;
    font-size:12pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: beige;
    padding: 20px;
    border-radius: 15px;
}
